{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <div style="display: flex; flex-direction: row; align-items: center;">
        <div>
            <img src="https://media.licdn.com/dms/image/D4D03AQFkCXJgtyX28w/profile-displayphoto-shrink_800_800/0/1702838760470?e=1723075200&v=beta&t=b8uTm8iRsPvp4zw2_pu8KbglFabO1TOk8JFwMwHS4_Q" alt="Profile Image" style="border-radius: 50%; width: 100px; height: 100px; object-fit: cover; margin-right: 120px;">
        </div>
        <div>
            <header class="entry-header">
                <h1>{{ .Title | markdownify }}</h1>
            </header>
            <div class="entry-content">
                {{ .Content | markdownify }}
            </div>
            <footer class="entry-footer">
                {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
            </footer>
        </div>
    </div>
</article>
{{- end -}}